<% title 'New Template from Import' %>
<h1>New Template from Import</h1>
<p>All template data imports in lower case</p>
<%= form_for @template, url: { controller: :templates, action: :create }, html: {id: 'new-template', class: 'form-horizontal profile'} do |f| %>
  <%= render 'layouts/messages', object: f.object %>
  <div class='form-group'>
    <div class='col-sm-6'>
      <h3>
        Template Meta Data <span class='pull-right'>
        <small><%= link_to "<i class='fa fa-eye-slash'></i> Hide".html_safe, '', class: 'toggle-thing', id: 'link-metadata-div' %></small>
        </span>
      </h3>
    </div>
  </div>
  <div id='metadata-div'>
    <%= render 'metadata', f: f %>
  </div>
  <div class='form-group'>
    <div class='col-sm-6'>
      <h3>
        Selection Lists <span class='pull-right'>
        <small><%= link_to "<i class='fa fa-eye-slash'></i> Hide".html_safe, '', class: 'toggle-thing', id: 'link-selection-lists-div' %></small>
        </span>
      </h3>
    </div>
  </div>
  <div id='selection-lists-div'>
    <%= render 'selection_lists', f: f %>
  </div>
<% end %>
<!-- <pre><%= JSON.pretty_generate(@import) %></pre> -->
