<% title 'New Template from Import' %>
<h1>New Template from Import</h1>
<p>All template data imports in lower case</p>
<%= form_for @template, url: { controller: :templates, action: :create }, html: {id: 'new-template', class: 'form-horizontal profile'} do |f| %>
  <h3>Template Meta Data</h3>
  <%= render 'layouts/messages', object: f.object %>
  <div class="form-group">
    <%= f.label :title, class: 'col-sm-3 control-label' %>
    <div class='col-sm-6'>
      <%= f.text_field :title, value:@import[:meta_data][:title], class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :subtitle, class: 'col-sm-3 control-label' %>
    <div class='col-sm-6'>
      <%= f.text_field :subtitle, value:@import[:meta_data][:subtitle], class: 'form-control' %>
    </div>
  </div>
  <!-- <div class="form-group">
    < %= f.label :owner, class: 'col-sm-3 control-label' %>
    <div class='col-sm-6'>
      < %= f.text_field :owner, value:@import[:meta_data][:owner], class: 'form-control', disabled: true %>
    </div>
  </div> -->
  <div class="form-group">
    <%= f.label :privacy, 'Template Privacy', class: 'col-sm-3 control-label' %>
    <div class='col-sm-6'>
       <%= f.select :privacy, options_for_select(['private', 'public'], f.object.privacy ||  @import[:meta_data][:privacy]), { include_blank: false }, { class: 'form-control' } %>
    </div>
  </div>
  <br clear=ALL />

  <h3>Selection Lists</h3>
  <% @import[:selection_lists].each do |selection_list| %>
    <div class='selection-list'>
      <%= f.fields_for :selection_lists, @selection_lists do |list| %>
        <div class="form-group">
          <%= list.label :name, 'Selection List Name', class: 'col-sm-3 control-label' %>
          <div class='col-sm-6'>
            <%= list.text_field :name, value:selection_list.keys.first.to_s, class: 'form-control' %>
          </div>
        </div>
        <% selection_list[selection_list.keys.first].each do |list_item| %>
          <div class='col-sm-offset-2'>
            <%= list.fields_for :list_items, @list_items do |item| %>
              <div class="form-group">
                <%= list.label :name, 'Item Name', class: 'col-sm-3 control-label' %>
                <div class='col-sm-4'>
                  <%= list.text_field :name, value: list_item, class: 'form-control' %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <h3>Sections</h3>
<% end %>
<pre><%= JSON.pretty_generate(@import) %></pre>
