<% title "#{@template.title.titleize}: #{@template.subtitle.titleize}" %>
<h1 class="text-center"><%= @template.title.titleize %> <small><%= @template.subtitle.titleize %></small></h1>
<hr />
<% @template.segments.each do |segment| %>
  <div class="row text-center">
    <% if segment.show_heading %>
      <h3 class="text-center"><%= segment.name.titleize %></h3>
    <% end %>

    <% segment.groups.in_groups_of(segment.columns, false) do |groups| %>
      <% groups.each do |group| %>
        <div class="col-md-4">
          <% if group.show_heading %>
            <h4><%= group.name %> <small>(<%= group.dots_available %>)</small></h4>
          <% end %>
          <% group.traits.each do |trait| %>
            <p class='text-left'><strong><%= trait.name %></strong>
              <% if group.input_type == "dots" %>
                <%= write_dots(trait.start_value, trait.max_value) %>
              <% end %>
            </p>
          <% end %>
          <!-- <pre>< %= group.inspect %></pre> -->
        </div>
      <% end %>
    <% end %>
  </div>
  <hr />
<% end %>
